@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome!</h1>

    <b></b>
    <small class="display-6">
        This application calculate four basic mathematics operations.       
    </small>
    <br/>

    <small class="display-6">
        <br />
        <p> These are the ways to do the operations:</p>
        <br />
        https://localhost:XXXX/Addition/CalculateAddition
        <b></b>
        https://localhost:XXXX/Division/Calculatedivision
        <b></b>
        https://localhost:XXXX/Multiplication/Calculatemultiplication
        <b></b>
        https://localhost:XXXX/Subtraction/Calculatesubtraction
    </small>
</div>

